<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0014)about:internet -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CityZen</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">td img {display: block;}</style>
<!--Fireworks CS6 Dreamweaver CS6 target.  Created Sat Feb 23 14:51:11 GMT-0500 (EST) 2013-->
<script language="JavaScript1.2" type="text/javascript">
<!--
function MM_displayStatusMsg(msgStr)  { //v1.0
  status=msgStr;
  document.MM_returnValue = true;
}

//-->
</script>
</head>
<body style="background:#F4F4F4;">
<div style="width:1000px;margin:auto;">
<table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="1000">
<!-- fwtable fwsrc="CITYZEN mockup.fw.png" fwpage="Page 1" fwbase="cityzen.gif" fwstyle="Dreamweaver" fwdocid = "1852371570" fwnested="0" -->
  <tr>
   <td><%= image_tag("spacer.gif", :size => "17x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "4x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "6x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "232x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "40x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "12x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "35x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "17x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "126x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "92x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "14x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "2x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "2x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "2x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "2x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "22x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "18x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "4x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "46x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "2x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "46x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "10x1") %></td>   
   <td><%= image_tag("spacer.gif", :size => "22x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "52x1") %></td>   
   <td><%= image_tag("spacer.gif", :size => "44x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "32x1") %></td>   
   <td><%= image_tag("spacer.gif", :size => "32x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "10x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "32x1") %></td>   
   <td><%= image_tag("spacer.gif", :size => "6x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "2x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "2x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "15x1") %></td>
   <td><%= image_tag("spacer.gif", :size => "1x1") %></td>   
  </tr>

  <tr>
   <td colspan="2"><%= image_tag("cityzen_r1_c1.gif", :size=>"21x14", :id => "cityzen_r1_c1") %></td>
   <td colspan="28"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r1_c3.gif", :size=>"960x14", :id => "cityzen_r1_c3") %></a></td>
   <td colspan="3"><%= image_tag("cityzen_r1_c31.gif", :size=>"19x14", :id=>"cityzen_r1_c31") %></td>
   <td><%= image_tag("spacer.gif", :size => "1x14") %></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="33"><a href="/" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r2_c1.gif", :size=>"1000x106", :id=>"cityzen_r2_c1") %></a></td>
   <td><%= image_tag("spacer.gif", :size=>"1x6") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x100") %></td>
  </tr>
  <tr>
   <td rowspan="7" colspan="9"><a href="/" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r4_c1.gif", :size => "489x58", :id => "cityzen_r4_c1") %></a></td>
   <td rowspan="3"><a href="/login" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r4_c10.gif", :size=>"92x46", :id=>"cityzen_r4_c10") %></a></td>
   <td colspan="23"><a href="/" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r4_c11.gif", :size =>"419x6", :id=>"cityzen_r4_c11") %></a></td>
   <td><%= image_tag("spacer.gif", :size=>"1x6") %></td>
  </tr>
  <tr>
   <td rowspan="6" colspan="6"><a href="/" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r5_c11.gif", :size=>"44x52", :id=>"cityzen_r5_c11") %></a></td>
   <td rowspan="3" colspan="5"><a href="/users/new" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r5_c17.gif", :size=>"116x42", :id=>"cityzen_r5_c17") %></a></td>
   <td colspan="12"><a href="/" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r5_c22.gif", :size => "259x2", :id=>"cityzen_r5_c22") %></a></td>
   <td><%= image_tag("spacer.gif", :size=>"1x2") %></td>
  </tr>
  <tr>
   <td rowspan="5" colspan="2"><a href="/" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r6_c22.gif", :size => "32x50", :id=>"cityzen_r6_c22") %></a></td>
   <td rowspan="2" colspan="6"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r6_c24.gif", :size=>"202x40", :id=>"cityzen_r6_c24") %></a></td>
   <td rowspan="5" colspan="4"><a href="/" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r6_c30.gif", :size => "25x50", :id=>"cityzen_r6_c30") %></a></td>
   <td><%= image_tag("spacer.gif", :size=>"1x38") %></td>
  </tr>
  <tr>
   <td rowspan="4"><a href="/" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r7_c10.gif", :size => "92x12", :id=>"cityzen_r7_c10") %></a></td>
   <td><%= image_tag("spacer.gif", :size=>"1x2") %></td>
  </tr>
  <tr>
   <td rowspan="3" colspan="5"><a href="/" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r8_c17.gif", :size=>"116x10", :id=>"cityzen_r8_c17") %></td>
   <td rowspan="3" colspan="6"><a href="/" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r8_c24.gif", :size=>"202x10", :id=>"cityzen_r8_c24") %></td>
   <td><%= image_tag("spacer.gif", :size=>"1x2") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x6") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x2") %></td>
  </tr>
  <tr>
   <td><%= image_tag("cityzen_r11_c1.gif", :size=>"17x4", :id=>"cityzen_r11_c1") %>
   <td colspan="30"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r11_c2.gif", :size=>"966x4", :id=>"cityzen_r11_c2") %></a></td>
   <td colspan="2"><%= image_tag("cityzen_r11_c32.gif", :size=>"17x4", :id=>"cityzen_r11_c32") %></td>
   <td><%= image_tag("spacer.gif", :size=>"1x4") %></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="33"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r12_c1.gif", :size=>"1000x411", :id=>"cityzen_r12_c1") %></a></td>
   <td><%= image_tag("spacer.gif", :size=>"1x358") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x53") %></td>
  </tr>
  <tr>
   <td rowspan="18" colspan="3"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r14_c1.gif", :size=>"27x653", :id=>"cityzen_r14_c1") %></a></td>
   <td rowspan="3" valign="top"><input type="text" style="border:0px;width:228px;height:32px;font-size:18px;"></td>
   <td rowspan="5" colspan="4"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%=image_tag("cityzen_r14_c5.gif", :size=>"104x121", :id=>"cityzen_r14_c5") %></a></td>
   <td rowspan="3" colspan="7" valign="top"><input type="text" style="border:0px;width:228px;height:32px;font-size:18px;"/></td>
   <td rowspan="18" colspan="4"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%=image_tag("cityzen_r14_c16.gif", :size=>"90x653", :id=>"cityzen_r14_c16") %></a></td>
   <td rowspan="3" colspan="8" valign="top"><input type="text" style="border:0px;width:228px;height:32px;font-size:18px;"/></td>
   <td rowspan="18" colspan="6"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r14_c28.gif", :size=>"67x653", :id=>"cityzen_r14_c28") %></a></td>
   <td><%= image_tag("spacer.gif", :size=>"1x7") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x2") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x26") %></td>
  </tr>
  <tr>
   <td rowspan="2"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r17_c4.gif", :size=>"232x86", :id=>"cityzen_r17_c4") %></a></td>
   <td rowspan="15" colspan="7"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%=image_tag("cityzen_r17_c9.gif", :size=>"240x618", :id=>"cityzen_r17_c9") %></a></td>
   <td rowspan="15" colspan="8"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%=image_tag("cityzen_r17_c20.gif", :size=>"240x618", :id=>"cityzen_r17_c20") %></a></td>
   <td><%= image_tag("spacer.gif", :size=>"1x4") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x82") %></td>
  </tr>
  <tr>
   <td colspan="3" valign="top"><ul style="margin: 0px; list-style-type:none;"><li>An Ordinance By Councilmember</li><li>An Ordinance by Transportation</li><li>An Ordinance by Transportation</li><li>An Ordinance by Transportation</li><li>An Ordinance by Finance/Exec</li></td>
   <td rowspan="13" colspan="2"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%=image_tag("cityzen_r19_c7.gif", :size=>"52x532", :id=>"cityzen_r19_c7") %></a></td>
   <td><%= image_tag("spacer.gif", :size=>"1x294") %></td>
  </tr>
  <tr>
   <td rowspan="12" colspan="3"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%=image_tag("cityzen_r20_c4.gif", :size=>"284x238", :id=>"cityzen_r20_c4") %></a></td>
   <td><%= image_tag("spacer.gif", :size=>"1x2") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x44") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x46") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x4") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x32") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x8") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x32") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x4") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x32") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x28") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x2") %></td>
  </tr>
  <tr>
   <td><%= image_tag("spacer.gif", :size=>"1x4") %></td>
  </tr>
  <tr>
   <td colspan="33"><a href="javascript:;" onmouseover="MM_displayStatusMsg('');return document.MM_returnValue"><%= image_tag("cityzen_r32_c1.gif", :size=>"1000x93", :id=>"cityzen_r32_c1") %></a></td>
   <td><td><%= image_tag("spacer.gif", :size=>"1x93") %></td></td>
  </tr>
</table>
</div>
</body>
</html>
